<section class="hero-section" id="hero">
  <div class="hero-container">
    <div class="hero-container-div" data-aos="fade-down-right" data-aos-delay="300" data-aos-duration="2000"
      data-aos-easing="ease-in-out">
      <h1 class="hero-title">The Best School Ever</h1>

      <p class="hero-text">
        At Prestige Academy, we offer top-tier education with a focus on academic excellence and personal growth. Our
        modern
        facilities and dedicated teachers create an ideal learning environment. With a diverse curriculum and enriching
        extracurricular activities, we prepare students to become confident and successful global citizens. Join us and
        discover
        the path to a bright future.
      </p>
    </div>
    <div class="images-container" data-aos="fade-down-left" data-aos-delay="300" data-aos-duration="2000"
      data-aos-easing="ease-in-out"></div>
  </div>
</section>