<section class="how-it-works" id="how-it-works">
  <div class="container container-how-it-works" data-aos="fade-right" data-aos-delay="300" data-aos-duration="2000">
    <h2 class="visually-hidden">How to Apply to Summit Crest Academy</h2>

    <div class="container-img-howitworks">
      <picture>
        <source srcset="
            /img/how-it-works.jpg   1x,
            /img/how-it-works.jpg 2x
          " media="(min-width: 1280px)" />
        <source srcset="/img/how-it-works.jpg 1x, /img/how-it-works.jpg 2x" media="(min-width: 768px)" />
        <source srcset="/img/how-it-works.jpg 1x, /img/how-it-works.jpg 2x"
          media="(min-width: 320px) and (max-width: 375px)" />
        <img class="img-howitworks" src="/img/how-it-works.jpg" alt="Stundets In The Class" width="430" />
      </picture>
    </div>
    <div class="container-make-order" data-aos="fade-left" data-aos-delay="300" data-aos-duration="2000">
      <p class="title-howitworks">
        How to Apply to <span class="accent-hiw">Summit Crest Academy</span> simply
        follow these
        <span class="accent-hiw">easy steps</span>
      </p>
      <p class="descr-howitworks">
        Applying to Summit Crest Academy is a simple and straightforward process. Follow these three easy steps to
        submit your
        application and take the first step towards joining our vibrant educational community.
      </p>
      <ol class="list-hiw">
        <li class="item-hiw" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
          data-aos-delay="10" data-aos-duration="500">
          <p class="text-instruction-hiw">
            Complete the <span class="accent-item-hiw">Application. </span>Fill out the online application form<span
              class="accent-item-hiw">
              on our website.</span>
          </p>
        </li>
        <li class="item-hiw" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
          data-aos-delay="10" data-aos-duration="500">
          <p class="text-instruction-hiw text-instr-second">
            Submit <span class="accent-item-hiw">Documents </span>Upload required documents, such as academic records
            and
            recommendation letters.
          </p>
        </li>
        <li class="item-hiw" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
          data-aos-delay="10" data-aos-duration="500">
          <p class="text-instruction-hiw text-instr-third">
            Attend Interview.
            <span class="accent-item-hiw">After review </span>, attend an interview scheduled by our admissions team.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>