<section class="your_order_section" id="your_order_section">
  <div class="container your_order_container">
    <div class="first_part_container" data-aos="fade-right" data-aos-delay="300" data-aos-duration="2000"
      data-aos-easing="ease-in-out">
      <h2 class="your_order_heading">
        Green <span class="harvest_span">Harvest</span> Waiting for your apply.
      </h2>
      <p class="your_order_paragraf">
        Fill out this form to begin the admission process at Summit Crest. We are excited to welcome you to our
        educational
        community, where we strive for academic excellence and personal growth for each student.
      </p>
    </div>
    <ul class="div-list" data-aos="zoom-out-down" data-aos-delay="100" data-aos-duration="1000"
      data-aos-easing="ease-in-out">
      <li class="div-items">
        <div class="content-container white">
          <p class="form_paragraf">
            Ordering <span class="from_us_span">from us</span> is quick and
            easy! Fill out <span class="the_form_span">the form</span> below and
            we will contact you !
          </p>
          <form class="your_order_form">
            <div class="input_container">
              <input type="text" name="full_name" class="your_order_input"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Full Name" required />
            </div>
            <div class="input_container">
              <input type="email" name="email" class="your_order_input"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Email" required />
              <p class="text-valid">Succes!</p>
              <p class="text-invalid">Invalid email, try again</p>
            </div>
            <div class="text_area_container">
              <textarea class="your_order_textarea" name="comment" id="comment" placeholder="Comment"></textarea>
            </div>
            <button class="your_order_button" type="submit">Apply</button>
          </form>
        </div>
      </li>
      <li class="div-items">
        <div class="content-container green">
          <div class="picture_container">
            <picture class="your_order_picture gradient">
              <source media="(min-width: 1280px )" type="image/jpeg"
                srcset="./img/your-order.jpg 1x, ./img/your-order.jpg 2x" />
              <source media="(max-width: 767px )" type="image/jpeg" srcset="
                  ./img/your-order.jpg 1x,
                  ./img/your-order.jpg 2x
                " />
              <source media="(min-width: 768px )" type="image/jpeg" srcset="
                  ./img/your-order.jpg 1x,
                  ./img/your-order.jpg 2x
                " />

              <img class="picture_img" src="./img/your-order.jpg" alt="The Teacher" loading="lazy" width="528" />
            </picture>
          </div>
          <p class="socials_paragraf">Follow us on our social networks:</p>
          <ul class="social_list">
            <li class="social_items">
              <a href="../index.html" class="social_links">instagram</a>
            </li>
            <li class="social_items">/</li>
            <li class="social_items">
              <a href="../index.html" class="social_links">facebook</a>
            </li>
            <li class="social_items">/</li>
            <li class="social_items">
              <a href="../index.htm" class="social_links">youtube</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>